BasedOnStyle: LLVM
AlignConsecutiveMacros: 'true'
AllowShortFunctionsOnASingleLine: 'Empty'
AllowShortLoopsOnASingleLine: 'true'
Language: Cpp
PointerAlignment: Left
UseTab: Never
IndentCaseLabels: 'true'
